body {
  background-color: #282c34;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color: whitesmoke;
  justify-content: center;
  align-items: center;
  display: flex;
  height: 100vh;
  flex-direction: column;
}

a {
  color: hotpink;
}

button {
  margin: 40px;
  padding: 20px 50px;
  font-size: larger;
  font-weight: bold;
  color: white;
  border-radius: 20px;
  outline: none;
  cursor: pointer;
  position: relative;
  z-index: 0;
  transition: .3s;
}

button::after {
  content: '';
  z-index: -1;
  background-color: #333;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  border-radius: 15px;
}

button::before {
  content: "";
  background: linear-gradient(
    45deg, 
    #FF0000, #FF7300, #FFFB00, #48FF00,
    #00FFD5, #002BFF, #FF00C8, #FF0000
  );
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 600%;
  z-index: -1;
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  filter: blur(10px);
  animation: glowing 20s linear infinite;
  transition: opacity .3s ease-in-out;
  border-radius: 10px;
  opacity: 1;
}

@keyframes glowing {
  0% {background-position: 0 0;}
  50% {background-position: 400% 0;}
  100% {background-position: 0 0;}
}

button:hover::before {
  opacity: 1;
}

button:hover::after {
  background: transparent;
}

button:active {
  color: black;
}

button:hover {
  transition: .5s;
  transform: scale(1.1);
}